{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="archives">
    <h1 class="text-center">Archives</h1>
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table table-bordered rounded shadow-sm">
      <tbody>
        {% for article in dates %}
        <tr id="{{ article.slug }}">
          <td>{{ article.locale_date }}</td>
          <td><a href="/{{ article.url }}">{{ article.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
