{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block description %}A list of all articles{% endblock %}

{% set head_title = 'Archives' %}

{% set head_description = 'A list of all articles' %}

{% block content %}
<section id="archives">
  <div class="ttl-hero ttl-hero-size-sm">
    <img class="ttl-hero-img" src="{{ HEROIMG }}" alt="{{ HEROIMGALT }}">
    <div class="ttl-hero-body container text-start text-light">
      <hgroup>
        <h1 class="fw-bold">Archives</h1>
        <p class="h5">A list of all articles</p>
      </hgroup>
    </div>
  </div>
  <div class="container mt-3">
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table table-bordered rounded shadow-sm">
      <tbody>
        {% for article in dates %}
        <tr id="{{ article.slug }}">
          <td>{{ article.locale_date }}</td>
          <td><a href="/{{ article.url }}">{{ article.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
