{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title | striptags }} - {{ SITENAME }}{% endblock %}

{% block description %}{{ article.description }}{% endblock description %}

{% block head %}
{{ super() }}
    <meta name="og:title" content="{{ article.title }}">
    <meta name="og:type" content="article">
    {% if article.image %}
    <meta name="og:image" content="{{ article.image }}">
    <meta name="og:image:alt" content="{{ article.image_alt }}">
    {% endif %}
    <meta name="og:url" content="{{ SITEURL }}/{{ article.url }}">
    {% if article.description %}
    <meta name="og:description" content="{{ article.description }}">
    {% endif %}
    <meta name="og:locale" content="{{ article.lang }}">
    {% for translation in article.translations %}
    <meta name="og:locale:alternate" content="{{ translation.lang }}">
    {% endfor %}
    <meta name="og:site_name" content="{{ SITENAME }}">
    <meta name="article:published_time" content="{{ article.date.isoformat() }}">
    {% if article.modified %}
    <meta name="article:modified_time" content="{{ article.modified.isoformat() }}">
    {% endif %}
    {% for author in article.authors %}
    <meta name="article:author" content="{{ author }}">
    {% endfor %}
    {% if article.category %}
    <meta name="article:section" content="{{ article.category }}">
    {% endif %}
    {% for tag in article.tags %}
    <meta name="article:tag" content="{{ tag }}">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="{{ article.slug }}">
    {% if article.image %}
    <img class="img-fluid rounded my-3" src="{{ article.image }}" alt="{{ article.image_alt }}">
    {% endif %}
    <h1>{{ article.title }}</h1>
    <div class="d-flex flex-wrap gap-2 my-2">
      {% for author in article.authors %}
      <a href="/{{ author.url }}" title="Author: {{ author }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-user"></i>
          {{ author }}
        </span>
      </a>
      {% endfor %}
      <a href="#" title="Published: {{ article.locale_date }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-clock"></i>
          <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </span>
      </a>
      {% if article.modified %}
      <a href="#" title="Modified: {{ article.locale_modified }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
        </span>
      </a>
      {% endif %}
      {% if article.category %}
      <a href="/{{ article.category.url }}" title="Category: {{ article.category }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-folder"></i>
          {{ article.category }}
        </span>
      </a>
      {% endif %}
      {% for tag in article.tags %}
      <a href="/{{ tag.url }}" title="Tag: {{ tag }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-tag"></i>
          {{ tag }}
        </span>
      </a>
      {% endfor %}
      {% for translation in article.translations %}
      <a href="/{{ translation.url }}" hreflang="{{ translation.lang }}" title="Translation: {{ translation }}">
        <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
          <i class="fa-solid fa-language"></i>
          {{ translation }}
        </span>
      </a>
      {% endfor %}
    </div>
    {{ article.content }}
    <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
      <div class="btn-group btn-group-lg">
        {% filter indent(width=8, first=True) %}
        {% include 'discussions.html' %}
        {% endfilter %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
