{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if article.translations %}
    {% for translation in article.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="/{{ translation.url }}">
    {% endfor %}
  {% endif %}
  {% if article.author %}
    <meta name="author" content="{{ article.author }}">
  {% endif %}
  {% if article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}">
  {% endif %}
  {% if article.tags %}
    <meta name="keywords" content="{% for tag in article.tags %}{{ tag }}, {% endfor %}">
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <header class="mb-2">
    <h1>{{ article.title }}</h1>
    <p class="m-0"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% if article.modified %} (Modified on <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}<time>){% endif %}</p>
    <p class="m-0">
      By
      {% for author in article.authors %}
      <a class="text-reset" href="/{{ author.url }}">{{ author }}</a>,
      {% endfor %}
    </p>
    <p class="m-0">In <a class="text-reset" href="/{{ article.category.url }}">{{ article.category }}</a></p>
    {% if article.tags %}
    <p class="m-0">
      Tags:
      {% for tag in article.tags %}
      <a class="text-reset" href="/{{ tag.url }}">{{ tag }}</a>,
      {% endfor %}
    </p>
    {% endif %}
    {% if article.translations %}
    <p class="m-0">
      Translations:
      {% for translation in article.translations %}
      <a class="text-reset" hreflang="{{ translation.lang }}" href="/{{ translation.url }}">{{ translation.lang }}</a>,
      {% endfor %}
    </p>
    {% endif %}
  </header>
  {{ article.content }}
</article>
{% endblock %}
