{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title | striptags }} - {{ SITENAME }}{% endblock %}

{% block description %}{{ article.description }}{% endblock description %}

{% block head %}
{{ super() }}
    {% for translation in article.translations %}
    <link rel="alternate" href="/{{ translation.url }}" hreflang="{{ translation.lang }}">
    {% endfor %}
    <meta name="og:title" content="{{ article.title }}">
    <meta name="og:type" content="article">
    {% if article.image %}
    <meta name="og:image" content="{{ article.image }}">
    <meta name="og:image:alt" content="{{ article.image_alt }}">
    {% endif %}
    <meta name="og:url" content="{{ SITEURL }}/{{ article.url }}">
    {% if article.description %}
    <meta name="og:description" content="{{ article.description }}">
    {% endif %}
    <meta name="og:locale" content="{{ article.lang }}">
    {% for translation in article.translations %}
    <meta name="og:locale:alternate" content="{{ translation.lang }}">
    {% endfor %}
    <meta name="og:site_name" content="{{ SITENAME }}">
    <meta name="article:published_time" content="{{ article.date.isoformat() }}">
    {% if article.modified %}
    <meta name="article:modified_time" content="{{ article.modified.isoformat() }}">
    {% endif %}
    {% for author in article.authors %}
    <meta name="article:author" content="{{ author }}">
    {% endfor %}
    {% if article.category %}
    <meta name="article:section" content="{{ article.category }}">
    {% endif %}
    {% for tag in article.tags %}
    <meta name="article:tag" content="{{ tag }}">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="{{ article.slug }}">
    {% if article.image %}
    <img class="img-fluid border rounded shadow-sm my-3" src="{{ article.image }}" alt="{{ article.image_alt }}">
    {% endif %}
    <h1>{{ article.title }}</h1>
    <div class="d-flex flex-wrap gap-2 my-2">
      {% filter indent(width=6, first=True) %}
      {% include 'metadata_badges.html' %}
      {% endfilter %}
    </div>
    {{ article.content }}
    <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
      <div class="btn-group btn-group-lg">
        {% filter indent(width=8, first=True) %}
        {% include 'discussion_buttons.html' %}
        {% endfilter %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
