{% extends "index.html" %}

{% block title %}{{ author }} - {{ SITENAME }}{% endblock %}

{% block description %}All articles written by {{ author }}{% endblock %}

{% block content_slug %}author-{{ author | lower }}{% endblock %}

{% block content_title %}<span class="fa-solid fa-user" title="Author"></span> {{ author }}{% endblock %}

{% block content_description %}All articles written by {{ author }}{% endblock %}

{% set head_title = '{}'.format(author) %}

{% set head_description = 'All articles written by {}'.format(author) %}
