{% extends "base.html" %}

{% block title %}Authors - {{ SITENAME }}{% endblock %}

{% block description %}A list of all authors{% endblock %}

{% block content %}
<section id="authors">
  <div class="ttl-hero ttl-hero-size-sm">
    <img class="ttl-hero-img" src="{{ HEROIMG }}" alt="{{ HEROIMGALT }}">
    <div class="ttl-hero-body container text-start text-light">
      <hgroup>
        <h1 class="fw-bold">Authors</h1>
        <p class="h5">A list of all authors</p>
      </hgroup>
    </div>
  </div>
  <div class="container mt-3">
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table table-bordered rounded shadow-sm">
      <tbody>
        {% for author, articles in authors | sort %}
        <tr id="{{ author.slug }}">
          <td><a href="/{{ author.url }}">{{ author }}</a></td>
          <td>{{ articles | count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
