{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="categories">
    <h1 class="text-center">Categories</h1>
    {% include 'navigation.html' %}
    <table class="table shadow-sm">
      <tbody>
        {% for category, articles in categories|sort %}
        <tr>
          <td>
            <a href="/{{ category.url }}">{{ category }}</a>
            <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis">{{ articles|count }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
