{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="categories">
    <h1 class="text-center">Categories</h1>
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table shadow-sm">
      <tbody>
        {% for category, articles in categories | sort %}
        <tr id="{{ category.slug }}">
          <td><a href="/{{ category.url }}">{{ category }}</a></td>
          <td>{{ articles | count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
