{% if article.zulip_url %}
<a class="btn ttl-btn-body" target="_blank" href="{{ article.zulip_url }}" title="Discuss on Zulip">
  <span class="fa-brands fa-zulip"></span>
</a>
{% endif %}
{% if article.x_url %}
<a class="btn ttl-btn-body" target="_blank" href="{{ article.x_url }}" title="Discuss on X">
  <span class="fa-brands fa-x-twitter"></span>
</a>
{% endif %}
{% if article.mastodon_url %}
<a class="btn ttl-btn-body" target="_blank" href="{{ article.mastodon_url }}" title="Discuss on Mastodon">
  <span class="fa-brands fa-mastodon"></span>
</a>
{% endif %}
{% if article.bluesky_url %}
<a class="btn ttl-btn-body" target="_blank" href="{{ article.bluesky_url }}" title="Discuss on Bluesky">
  <span class="fa-brands fa-bluesky"></span>
</a>
{% endif %}
