{% if article.zulip_url %}
<a class="btn btn-ttl-body" target="_blank" href="{{ article.zulip_url }}" title="Discuss on Zulip">
  <i class="fa-brands fa-zulip"></i>
</a>
{% endif %}
{% if article.x_url %}
<a class="btn btn-ttl-body" target="_blank" href="{{ article.x_url }}" title="Discuss on X">
  <i class="fa-brands fa-x-twitter"></i>
</a>
{% endif %}
{% if article.mastodon_url %}
<a class="btn btn-ttl-body" target="_blank" href="{{ article.mastodon_url }}" title="Discuss on Mastodon">
  <i class="fa-brands fa-mastodon"></i>
</a>
{% endif %}
{% if article.bluesky_url %}
<a class="btn btn-ttl-body" target="_blank" href="{{ article.bluesky_url }}" title="Discuss on Bluesky">
  <i class="fa-brands fa-bluesky"></i>
</a>
{% endif %}
