{% if AUTHOR_FEED_ATOM and author %}
<a href="/{% if AUTHOR_FEED_ATOM_URL %}{{ AUTHOR_FEED_ATOM_URL.format(slug=author.slug) }}{% else %}{{ AUTHOR_FEED_ATOM.format(slug=author.slug) }}{% endif %}" title="Atom: {{ author }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-atom"></i>
    {{ author }}
  </span>
</a>
{% endif %}
{% if AUTHOR_FEED_RSS and author %}
<a href="/{% if AUTHOR_FEED_RSS_URL %}{{ AUTHOR_FEED_RSS_URL.format(slug=author.slug) }}{% else %}{{ AUTHOR_FEED_RSS.format(slug=author.slug) }}{% endif %}" title="RSS: {{ author }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-rss"></i>
    {{ author }}
  </span>
</a>
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
<a href="/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" title="Atom: {{ category }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-atom"></i>
    {{ category }}
  </span>
</a>
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
<a href="/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" title="RSS: {{ category }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-rss"></i>
    {{ category }}
  </span>
</a>
{% endif %}
{% if TAG_FEED_ATOM and tag %}
<a href="/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" title="Atom: {{ tag }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-atom"></i>
    {{ tag }}
  </span>
</a>
{% endif %}
{% if TAG_FEED_RSS and tag %}
<a href="/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" title="RSS: {{ tag }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-rss"></i>
    {{ tag }}
  </span>
</a>
{% endif %}
{% if FEED_ALL_ATOM %}
<a href="/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" title="Atom: {{ SITENAME }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-atom"></i>
    {{ SITENAME }}
  </span>
</a>
{% endif %}
{% if FEED_ALL_RSS %}
<a href="/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" title="RSS: {{ SITENAME }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-rss"></i>
    {{ SITENAME }}
  </span>
</a>
{% endif %}
{% if FEED_ATOM %}
<a href="/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" title="Atom: {{ SITENAME }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-atom"></i>
    {{ SITENAME }}
  </span>
</a>
{% endif %}
{% if FEED_RSS %}
<a href="/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" title="RSS: {{ SITENAME }}">
  <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
    <i class="fa-solid fa-rss"></i>
    {{ SITENAME }}
  </span>
</a>
{% endif %}
