{% extends "base.html" %}

{% block head %}
{{ super() }}
{% filter indent(width=4, first=True) %}
{% include 'feed_links.html' %}
{% endfilter %}
{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="{% block content_slug %}{{ SITENAME | replace(' ', '-') | lower }}{% endblock %}">
    <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
      <h1 class="m-0">{% block content_title %}{{ SITENAME }}{% endblock %}</h1>
      {% filter indent(width=6, first=True) %}
      {% include 'feed_buttons.html' %}
      {% endfilter %}
    </div>
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
      {% for article in articles_page.object_list %}
      <section id="{{ article.slug }}">
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ article.image }}" alt="{{ article.image_alt }}">
            <div class="card-body">
              <h2 class="card-title h5">{{ article.title }}</h2>
              <p class="card-text text-truncate">{{ article.description }}</p>
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-outline-light" href="/{{ article.url }}">Read</a>
                  {% filter indent(width=18, first=True) %}
                  {% include 'discussions.html' %}
                  {% endfilter %}
                </div>
                <small>
                  <ul class="list-horizontal">
                    <li>
                      <a href="/{{ CATEGORIES_URL or 'categories' }}#{{ article.category.slug }}">
                        {{ article.category }}
                      </a>
                    </li>
                    <li>
                      <a href="/{{ ARCHIVES_URL or 'archives' }}#{{ article.slug }}">
                        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                      </a>
                    </li>
                  </ul>
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
    </div>
    {% filter indent(width=4, first=True) %}
    {% include 'pagination.html' %}
    {% endfilter %}
  </section>
</div>
{% endblock content %}
