{% extends "base.html" %}
{% block content %}
<div class="container mt-2">
  <section id="{% block content_slug %}articles{% endblock %}">
    <div class="text-center">
      {% block content_title %}
      <h1>Articles</h1>
      {% endblock %}
    </div>
    {% include 'feed_badges.html' %}
    {% include 'navigation.html' %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
      {% for article in articles_page.object_list %}
      <section id="{{ article.slug }}">
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ article.image }}" alt="{{ article.image_alt }}">
            <div class="card-body">
              <h2 class="card-title h5">{{ article.title }}</h2>
              <p class="card-text text-truncate">{{ article.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" target="_self" href="/{{ article.url }}">Read</a>
                  {% if article.discuss %}
                  <a class="btn btn-sm btn-outline-secondary" target="_blank" href="{{ article.discuss }}" title="Discuss">
                    <i class="bi bi-chat"></i>
                  </a>
                  {% endif %}
                </div>
                <small class="text-body-secondary">
                  <a href="/{{ article.author.url }}">{{ article.author }}</a>
                  <i class="bi bi-dot"></i>
                  <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
    </div>
    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
  </section>
</div>
{% endblock content %}
