{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}
  {% if page.translations %}
    {% for translation in page.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="/{{ translation.url }}">
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.modified %}
    <p>Modified: <time datetime="{{ page.modified.isoformat() }}">{{ page.locale_modified }}</time></p>
    {% endif %}
    {% if page.translations %}
    <p>
      Translations:
      {% for translation in page.translations %}
      <a class="text-reset" hreflang="{{ translation.lang }}" href="/{{ translation.url }}">{{ translation.lang }}</a>{{ "," if not loop.last else "" }}
      {% endfor %}
    </p>
    {% endif %}
  </header>
  {{ page.content }}
</article>
{% endblock %}
