{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title | striptags }} - {{ SITENAME }}{%endblock%}

{% block head %}
{{ super() }}
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="website">
    {% if page.image %}
    <meta name="og:image" content="{{ page.image }}">
    <meta name="og:image:alt" content="{{ page.image_alt }}">
    {% endif %}
    <meta name="og:url" content="{{ SITEURL }}/{{ page.url }}">
    {% if page.description %}
    <meta name="og:description" content="{{ page.description }}">
    {% endif %}
    <meta name="og:locale" content="{{ page.lang }}">
    {% for translation in page.translations %}
    <meta name="og:locale:alternate" content="{{ translation.lang }}">
    {% endfor %}
    <meta name="og:site_name" content="{{ SITENAME }}">
{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="{{ page.slug }}">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  </section>
</div>
{% endblock %}
