{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center text-body">
    {% if articles_page.has_previous() %}
    <li class="page-item"><a class="page-link text-reset" href="/{{ first_page.url }}" aria-label="First page">⇇</a></li>
    <li class="page-item"><a class="page-link text-reset" href="/{{ articles_previous_page.url }}" aria-label="Previous page">«</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link text-reset" href="#" aria-label="First page">⇇</a></li>
    <li class="page-item disabled"><a class="page-link text-reset" href="#" aria-label="Previous page">«</a></li>
    {% endif %}
    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
    <li class="page-item {{ 'active' if num == articles_page.number else '' }}"><a class="page-link text-reset" href="/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a>
    {% endfor %}
    {% if articles_page.has_next() %}
    <li class="page-item"><a class="page-link text-reset" href="/{{ articles_next_page.url }}" aria-label="Next page">»</a></li>
    <li class="page-item"><a class="page-link text-reset" href="/{{ last_page.url }}" aria-label="Last page">⇉</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link text-reset" href="#" aria-label="Next page">»</a></li>
    <li class="page-item disabled"><a class="page-link text-reset" href="#" aria-label="Last page">⇉</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
