{% extends "base.html" %}

{% block title %}Archives for {{ period | reverse | join(' ') }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="archives-for-{{ period | reverse | join(' ') | replace(' ', '-') | lower }}">
    <h1 class="text-center">Archives for {{ period | reverse | join(' ') }}</h1>
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table shadow-sm">
      <tbody>
        {% for article in dates %}
        <tr>
          <td>{{ article.locale_date }}</td>
          <td><a href="/{{ article.url }}">{{ article.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
