{% extends "base.html" %}

{% block title %}Tags - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <section id="tags">
    <h1 class="text-center">Tags</h1>
    {% filter indent(width=4, first=True) %}
    {% include 'navigation.html' %}
    {% endfilter %}
    <table class="table shadow-sm">
      <tbody>
        {% for tag, articles in tags | sort %}
        <tr id="{{ tag.slug }}">
          <td><a href="/{{ tag.url }}">{{ tag }}</a></td>
          <td>{{ articles | count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
